html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--color-background);
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body, section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body {
    max-width: 760px;
    padding: 8px;
}

:root {
    --color-black: #292929;
    --color-offwhite: white;
    --color-background: #f9f9f9;
    --color-main: cadetblue;
}

a {
    color: var(--color-main);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    background: var(--color-black);
    color: var(--color-offwhite);
    display: block;
    padding: 2px 8px;
}

h3 {
    margin-bottom: 4px;
}

.info-head {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 16px;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin: 8px 0px;
}

.info img {
    width: 18px;
    height: 18px;
    padding: 4px;
    background: var(--color-black);
    margin-right: 8px;
}

.duration {
    opacity: 0.4;
}

strong {
    color: var(--color-black);
}

@page {
    size: A4;
}

.page-break {
    display: none;
}

@media print {
    body {
        padding: 32px 64px;
        -webkit-print-color-adjust: exact !important;
        background: white;
    }
    section {
        page-break-after: always;
        page-break-inside: avoid;
    }
    .page-break {
        display: block;
        height: 200px;
    }
}